/* ----------------------------------------

Test CSS

---------------------------------------- */

/* This is a comment. It won't show up on your page */

/* Border box, adjusts box model to be easier to use */
/* Always include this for consistency */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


a{
	color: #d5265c;
	text-decoration: none;
}


body{
	font-family: Helvetica, Times, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	padding:3em;
}

h1 span{
	opacity: .8;
}

h2 {
	font-size: 25px;
	font-family: Helvetica, sans-serif;
}

header{
	background-color: Purple;
	font-size: 30px;
	text-align: center;
	color:white;
	padding: 5%;
}

img{
	text-align: center;
	padding:3em;
}

p{
	margin-top: 2%;
}

section.intro{
	padding-top: 50px;
	padding-bottom: 40px;
	background-image: url("../images/bg-image3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;
}

section.piclist{
	text-align: center;
}




