/* Border box, adjusts box model to be easier to use */
/* Always include this for consistency 
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

html { 
  background: url(images/backgroundTexture2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
	color: #d5265c;
	text-decoration: none;
  font-size: 25px;
}

.active {
    color: #fff !important;
    text-decoration: underline !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

body{
	font-family: Helvetica, Times, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	padding:3em;
}

div{
	padding: 20px;
}

h1{
	font-size: 1.8em;
 	text-align: center;
}

h1 span{
	opacity: .8;
}

h2 {
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
}

header{
	background-color: purple;
	border-radius: 1em;
	font-size: 30px;
	text-align: center;
	color:white;
	padding: 5%;
  margin-bottom: 20px;
}

img{
  padding:1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

img.katmaiImg{
	width: 40%;
}

li{
  display: inline;
  padding: 20px;
}

#nav{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 2%;
}


p{
	margin-top: 2%;
  font-size: 1.5em;
}

section{
	background-color: #33CCFF;
	border-radius: 1em;
	text-align: center;
	font-size: 1em;
	margin-bottom: 5em;
	padding:5em;
  clear: both;
}

